.card-page-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card-page-column {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 20px;
}
.card-page-column:empty {
  flex-grow: 0;
}
